package ${package}.${moduleName}.entity;

import java.io.Serializable;
import java.util.Date;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import com.baomidou.mybatisplus.annotations.TableField;
import com.baomidou.mybatisplus.annotations.TableLogic;
import com.baomidou.mybatisplus.annotations.TableName;
import com.baomidou.mybatisplus.annotations.Version;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Getter
@Setter
@NoArgsConstructor
@ToString
@EqualsAndHashCode
@TableName("${tableName}")
public class ${className}DO implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
		/**
		 * ${column.comments}
		 */
	#if($column.attrname ==  'delFlag')  
	@TableLogic
	#elseif($column.attrname ==  'version') 
	@Version 
	#elseif($column.attrname ==  'updateTime')  
	@TableField(update = "now()")
	#end 
	private $column.attrType $column.attrname;
	
#end

}
