package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className}DO;
import com.baomidou.mybatisplus.service.IService;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
 
public interface IGiftCardProductService extends IService<${className}DO> {
	
}
