package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.${moduleName}.dao.${className}Mapper;
import ${package}.${moduleName}.entity.${className}DO;
import ${package}.${moduleName}.service.${className}Service;



@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}DO> implements I${className}Service {
	
	
}
